{% extends "_layout" %}
{% set title = "Get Started" %}

{% block content %}

<section class="main-content" {% for bg in entry.backgroundImage %} style="background: url({{ bg.url }}); -webkit-background-size: cover; -o-background-size: cover; -moz-background-size: cover; background-size: cover; background-position: 50% 50%;"{% endfor %}>
    <div class="row" id="overview">
        <div class="medium-9 medium-centered columns text-center">
            <h2>{{ entry.headline }}</h2>
        </div>
    </div>
</section>

<section class="secondary-content">
    <div class="row">
        <div class="medium-11 medium-centered columns">
            <div class="row">
                <div class="medium-6 columns">
						{{ entry.body }}

						

                </div>
                <div class="medium-6 columns">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.4858405847635!2d-97.1433302!3d49.8709022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea7402b2eadf59%3A0x47d2392439da0749!2s332+Nassau+St+N%2C+Winnipeg%2C+MB+R3L+2E5!5e0!3m2!1sen!2sca!4v1406749217650" width="100%" height="300" frameborder="0" style="border:0"></iframe>
                    <hr>
                        {{ entry.address }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}