{% extends "_layout" %}

{% set title = "News" %}

{% block content %}


<section class="main-content" {% for bg in entry.backgroundImage %} style="background: url({{ bg.url }}); -webkit-background-size: cover; -o-background-size: cover; -moz-background-size: cover; background-size: cover; background-position: 50% 40%;"{% endfor %}>
    <div class="row" id="overview">
        <div class="medium-9 medium-centered columns text-center">
            <h2>Latest News</h2>
        </div>
    </div>
</section>

<section class="secondary-content">
    <div class="row">
        <div class="medium-11 medium-centered columns">
            <div class="row">
                <div class="medium-9 columns">

                	{% for entry in craft.entries.section('news').find() %}
						<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
						<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
						<p>{{ entry.intro }} <a href="{{ entry.url }}">Continue reading</a></p>

					{% endfor %}

                </div>
                <div class="medium-3 columns aside">
                
                	{{ entry.sidebarContent }}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
