{% extends "_layout" %}

{% block content %}
{# retieve all product categores #}
{% set categories = craft.categories.group('productType') %}
{# retrieve catalogue headline #}
{% for entry in craft.entries.section('catalogues').limit(1) %}

{# headline #}
<section class="section-head">
	<div class="row">
		<div class="small-12 small-centered columns text-center">
			<h1><a href="/{{entry.section.handle}}/{{entry.slug}}">{{entry.section}}</a></h1>
		</div>
	</div>
</section>

{# navigation #}
<section class="section-nav">
	<div class="row">
		<div class="small-12 small-centered columns text-center">
			<div>
				<ul>
					{% nav category in categories %}
					{# Find related entries of category #}
					{% set entries = craft.entries({
					    section: 'catalogue',
					    relatedTo: ['and',
					        { targetElement: category },
					        { sourceElement: craft.entries.section('catalogues').status(null) }
					    ]
					}) %}
					{% if entries | length %}
					<li>
						<a href="/{{entry.section.handle}}/{{entry.slug}}/{{category.slug}}">{{ category }}</a>
					</li>
					{% endif %}
					{% endnav %}
				</ul>
			</div>
		</div>
	</div>
</section>
{% endfor %}

{# main content #}
<section class="secondary-content">
    <div class="row">
        <div class="medium-11 medium-centered columns">
				{% for category in categories %}
					{% set cataloguesEntries = craft.entries({
					    section: 'catalogue',
					    relatedTo: ['and',
					        { targetElement: category },
					        { sourceElement: craft.entries.section('catalogues').status(null) }
					    ]
					}) %}
					{% for catalogueEntry in cataloguesEntries %}
						{% if loop.first %}
							<h3>{{ category }}</h3>
							<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
						{% endif %}
						
						<li>
							<div class="listing-top-box text-center">
								{% for image in catalogueEntry.productImage %}
								<a href="/{{entry.section.handle}}/{{entry.slug}}/{{category.slug}}/{{catalogueEntry.slug}}">
								<picture>
									<source srcset="
										{{ image.getUrl('thumbs2x') }} 2x,
										{{ image.getUrl('thumbs1x') }} 1x"
										 />
									<img src="{{ image.getUrl('thumbs1x') }}" alt="{{ catalogueEntry.title }}" />
								</picture>
								</a>
								{% endfor %}
							</div>
							<div class="listing-bottom-box">
						  		<h4><a href="/{{entry.section.handle}}/{{entry.slug}}/{{category.slug}}/{{catalogueEntry.slug}}">{{ catalogueEntry.title }}</a></h4>
									{% if catalogueEntry.productSwatches|length %}
										<p class="attribute">Available in {% for block in catalogueEntry.productSwatches.type('swatch') %}{% if not loop.first %}, {% endif %}{{ block.swatchName }}{% endfor %}</p>
									{% endif %}
							</div>
						</li>
						{% if loop.last %}
						</ul>
						{% endif %}
					{% endfor %}
				{% endfor %}
        </div>
    </div>
</section>
{% endblock %}
